body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4CAF50;;
    color: #333;
    margin: 0;
    padding: 0;
}


main {
    max-width:40%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

h1{
    color: #292929;
    text-align: center;
}

.login-group {
    /* Aplica margem entre os grupos "login-group" */
    margin-bottom: 15px; 
    margin-left: 50px;
}

.login-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-group input {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.login-group button{
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-group span{
    color: red;
}

.login-group b{
    font-weight: bold;
    color: red;
}

#fail-login{
    color: red;
    /* Aplica margem entre os grupos "login-group" */
    margin-bottom: 15px; 
    margin-left: 50px;
}